
html {
  position: relative;
  min-height: 100%;
}

body {
    padding: 50px;
    margin-bottom: 60px;
}

.loading {
    text-align: center;
    padding-top: 50px;
}

div.top-buttons {
    text-align: right;
}